@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body{
  font-family: "Poppins", sans-serif;
  align-items: center;
}

img{
  max-width: 95%;
}

h5{
  font-size: 40px;
  font-family: 'Oswald',sans serif;
  letter-spacing: 3px;
  color: #111111;
  padding: 100px;
  align-items: center;
  text-align: center;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

.header{
  display: flex;
  align-items: center;
  min-height: 35vh;
  background-color: #f5f5f5;
  padding: 70px 0;
}

.main{
  border-radius: 2px;
}

.menu{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img{
  width: 115px;
  height: 120px;

}

.navbar ul li{
  position: relative;
  float: left;
}

.navbar ul li a {
  font-size: 18px;
  padding: 20px;
  color: #111111;
  display: block;
  font-weight: 600;
}

.navbar ul li a:hover{
  color: #A4A4A4;
}


#menu{
  display: none;
}

.menu-icono{
  width: 25px;
}

.menu label{
  cursor: pointer;
  display: none;
}

.header-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  padding: 0 50px;
}


.titulo{
  font-size: 40px;
  font-family: 'Oswald',sans serif;
  background-color: #111111;
  color: whitesmoke;
  padding: 100px;
  text-align: center;
}

.btn-1{
  display: inline-block;
  padding: 11px 25px;
  background-color:#3448C5;
  color: #ffffff;
  border-radius: 5px;
}


.carousel {
  width: 100%;
  margin: 0px 0px;
  margin-bottom: 20px;
}

h4,
h2,
small,
a {
  margin: 0;
  padding: 0;
}

.carousel h2 {
  font-size: 45px;
  line-height: 38px;
  padding-bottom: 50px;
  opacity: .9;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  color: #111111;
}

.carrusel-list {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  height: 304px;
  padding: 10px 0px;
  margin: 0px auto;
  max-width: 90vw;
  overflow: hidden;
}

.carrusel-track {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  transition: .5s ease-in-out;
}

.carrusel {
  position: relative;
  width: 210px;
  float: left;
  box-sizing: border-box;
  display: flex;
  height: 100%;
}

.carrusel h4 {
  position: absolute;
  z-index: 1;
  font-size: 22px;
  line-height: 23px;
  color: #ffffff;
  padding: 15px;
}

.carrusel h4 small {
  font-size: 15px;
  display: block;
}

.carrusel a img {
  object-fit: cover;
  height: 300px;
  width: 250px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  transition: .3s ease-in-out;
}

.carrusel-arrow {
  border-radius: 30px;
  background-color: #00000075;
  position: absolute;
  z-index: 4;
  width: 48px;
  height: 48px;
  text-align: center;
  border: 0;
  cursor: pointer;
}

.carrusel-arrow:focus {
  outline: 0;
}

.carrusel-arrow svg {
  width: 12px;
  height: 100%;
  color: rgba(255, 255, 255, 0.733);
}

.carrusel-prev {
  left: 0px;
}

.carrusel-next {
  right: 0px;
}


.ofert{
  padding: 20px 0 0 0;
  display: flex;
  justify-content: space-between;
}

.ofert-1{
  display: flex;
  border-radius: 5px;
  align-items: center;
  flex-basis: calc(33.3% - 15px);
  background-color: #f5f5f5;
  padding: 35px;
}

.ofert.img{
  flex-basis: 50%;
  margin-right: 15px;
}

.ofert-img img{
  width: 220px;
  border-radius: 25px;
}

.ofert-txt{
  flex-basis: 50%;
  text-align: center;
}

.ofert-txt h3{
  color: #111111;
  font-family: "Oswald", sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.btn-2{
  display: inline-block;
  padding: 7px 10px;
  background-color: #111111;
  color: #ffffff;
  border-radius: 5px;
  font-size: 15px;
}

.products{
  padding: 50px 0;
  text-align: center;
  background-color: #F2F2F2;
}


.products h2{
  color: #111111;
  font-family: "Oswald", sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.products-content{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.products{
  text-align: center;
  padding: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.products img{
  width: 260px;
  height: 300px;
  margin-bottom: 20px;
}

.products h3{
  font-size: 20px;
  color: #111111;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.products a{
  color: #111111;
}

.products p .precio{
  font-size: 16px;
  color: #111111;
  margin-bottom: 15px;
}

.precio{
  font-weight: 800;
}

.advertising{
  width: 100%;
  text-align: center;
  margin: 30px 0px;
}


.footer{
  padding: 50px 0;
  background-color: #111111;
}

.footer-content{
  display: flex;
  justify-content: space-between;
}

.link h3{
  font-size: 18px;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.link a{
  font-size: 16px;
  color: #dcdcdc;
  display: block;
  margin-bottom: 10px;
}


#hand {cursor: pointer;}



@media (max-width:991px){

  .menu{
    padding: 20px;
  }
  
  .menu label{
    display: initial;
  }

  .menu .navbar{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #181818;
    display: none;
  }

  .menu .navbar ul li{
    width: 100%;
  }

  .menu .navbar ul li a{
    color: #ffffff;
  }
  
  #menu:checked ~ .navbar{
    display: initial;
  }

  .image{
    margin-top: -100px;
    margin-bottom: -150px;
    background-size: 100vh !important;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 50%;
  }
    
  .carousel {
    margin: 0px 0px;
  }

  .carrusel {
    width: 275px;
  }

  .carrusel a img {
    width: 250px;
  }


  .texto h2{
    margin-top: 200px;
    opacity: 100%;
  }

  .texto p{
    margin: 60px 5px 0px 0px;
    opacity: 100%;
  }

  .header{
    min-height: 0vh;
    font-family: 'Oswald', sans-serif;
  }

  .header-content{
    padding: 50px 0;
    flex-direction: column;
  }

  .header-img{
    display: none;
  }

  .header-txt{
    flex-basis: 100%;
    text-align: center;
  }

  .header-txt h1{
    font-size: 70px;
  }

  .ofert{
    padding: 30px 30px 0 30px;
    flex-direction: column;
  }

  .ofert-1{
    margin-bottom: 30px;
  }

  .products{
    padding: 0 30px 30px 30px;
  }

  .products h2{
    margin-bottom: 30px;
  }

  .products-content{
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    background: #A4A4A4;
  }

  .products img{
    width: 200px;
    height: 280px;
  }

  .icons{
    padding: 30px
  };

  .icon-1{
    margin-bottom: 30px;
  }

  .blog{
    padding: 0 30px 30px 30px;
    flex-direction: column;
  }

  .blog-1{
    margin-bottom: 30px;
  }

  .footer{
    padding: 30px;
  }

  .footer-content{
    flex-direction: column;
    text-align: center;
  }
}