@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

body {
	font-family: "Poppins", sans-serif;
	align-items: center;
}

img {
	max-width: 95%;
}

h5 {
	font-size: 40px;
	font-family: 'Oswald', sans serif;
	letter-spacing: 3px;
	color: #111111;
	padding: 100px;
	align-items: center;
	text-align: center;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.header {
	display: flex;
	align-items: center;
	min-height: 35vh;
	background-color: #f5f5f5;
	padding: 70px 0;
}

.main {
	border-radius: 2px;
}

.menu {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo img {
	width: 115px;
	height: 120px;

}

.navbar ul li {
	position: relative;
	float: left;
}

.navbar ul li a {
	font-size: 18px;
	padding: 20px;
	color: #111111;
	display: block;
	font-weight: 600;
}

.navbar ul li a:hover {
	color: #A4A4A4;
}


#menu {
	display: none;
}

.menu-icono {
	width: 25px;
}

.menu label {
	cursor: pointer;
	display: none;
}

.header-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex: 1;
	padding: 0 50px;
}


main {
	display: flex;
	gap: 30px;
	margin: 30px;
	margin-bottom: 80px;
}

.container-img {
	flex: 1;
}

.container-info-product {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.container-price {
	padding-bottom: 20px;
	border-bottom: 1px solid #e4e4e4;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.container-price span {
	font-size: 24px;
	font-weight: 300;
}

.container-details-product {
	padding: 30px 0;
}

.form-group {
	display: flex;
	align-items: center;
	gap: 20px;
	margin-bottom: 15px;
}

.form-group label {
	width: 100px;
	color: #222;
	font-weight: 700;
}

.form-group select {
	width: 300px;
	border: none;
	padding: 12px 15px;
	background-color: #f7f7f7;
	outline: none;
	color: #666;
}

.btn-clean {
	border: none;
	background: none;
	color: #666;
	margin-left: 120px;
	cursor: pointer;
}

.btn-clean:hover {
	color: #1bbeb4;
}

.container-add-cart {
	display: flex;
	gap: 20px;
	padding-bottom: 30px;
	border-bottom: 1px solid #e4e4e4;
}

.container-quantity {
	position: relative;
}

.input-quantity {
	background-color: #f7f7f7;
	border: none;
	padding: 10px;
	width: 60px;
	height: 100%;
	color: #666;
	font-weight: 500;
	line-height: 0;
}

.input-quantity:focus {
	outline: none;
}

.input-quantity::-webkit-inner-spin-button,
.input-quantity::-webkit-outer-spin-button {
	-webkit-appearance: none;
	appearance: none;
}

.btn-increment-decrement {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 7px;
	right: 7px;
}

.btn-increment-decrement i {
	font-size: 11px;
	color: #666;
	cursor: pointer;
}

.fa-chevron-down:hover {
	color: #1bbeb4;
}

.fa-chevron-up:hover {
	color: #1bbeb4;
}

.btn-add-to-cart {
	border: none;
	background-color: #252525;
	padding: 10px;
	color: #f7f7f7;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	font-weight: 700;
	cursor: pointer;
}

.btn-add-to-cart:hover {
	color: #1bbeb4;
}

.hidden {
	display: none;
}

.container-description,
.container-additional-information,
.container-reviews {
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid #e4e4e4;
	padding: 10px 0;
}

.title-description,
.title-additional-information,
.title-reviews {
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}

.title-description h4,
.title-additional-information h4,
.title-reviews h4 {
	font-weight: 300;
	color: #666;
	font-size: 14px;
}

.text-description,
.text-additional-information,
.text-reviews {
	font-size: 13px;
	color: #252525;
	line-height: 22px;
	margin-top: 25px;
}

.container-social {
	display: flex;
	justify-content: space-between;
	padding: 10px 0;
	align-items: center;
	border-bottom: 1px solid #e4e4e4;
}

.container-social span {
	font-weight: 300;
	color: #252525;
}

.container-buttons-social {
	display: flex;
	gap: 15px;
	align-items: center;
}

.container-buttons-social a:link,
.container-buttons-social a:visited {
	color: #666;
	font-size: 15px;
}

.container-buttons-social a:hover {
	color: #1bbeb4;
}

.container-related-products {
	margin: 0 30px;
}

.container-related-products h2 {
	text-align: center;
	margin-bottom: 30px;
}

.card-list-products {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 25px;
}

.card {
	cursor: pointer;
}

.card-img {
	background: transparent;
	margin-bottom: 15px;
}

.card-img img {
	width: 330px;
	height: 330px;
	object-fit: cover;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.info-card {
	display: flex;
	justify-content: space-between;
}

.text-product {
	color: #252525;
	font-weight: 300;
	line-height: 1.4;
}

.text-product h3 {
	color: inherit;
	font-weight: inherit;
	font-size: 15px;
}

.text-product h3:hover {
	color: #1bbeb4;
}

.text-product p {
	color: #666;
	font-size: 13px;
}

.text-product p:hover {
	color: #1bbeb4;
}

footer {
	padding: 30px;
	background-color: #eee;
	margin-top: 50px;
	color: #222;
	margin-left: -74px;
	margin-right: -74px;
}

/* ------------------------------------------------------- aplicando estilos al pie de pagina */
.footer {
	padding: 50px 0;
	background-color: #111111;
}

.footer-content {
	display: flex;
	justify-content: space-between;
}

.link h3 {
	font-size: 18px;
	color: #ffffff;
	font-family: "Oswald", sans-serif;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.link a {
	font-size: 16px;
	color: #dcdcdc;
	display: block;
	margin-bottom: 10px;
}

@media (max-width:991px) {

	.menu {
		padding: 20px;
	}

	.menu label {
		display: initial;
	}

	.menu .navbar {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		background-color: #181818;
		display: none;
	}

	.menu .navbar ul li {
		width: 100%;
	}

	.menu .navbar ul li a {
		color: #ffffff;
	}

	#menu:checked~.navbar {
		display: initial;
	}

	.header {
		min-height: 0vh;
		font-family: 'Oswald', sans-serif;
	}

	.header-content {
		padding: 50px 0;
		flex-direction: column;
	}

	.header-img {
		display: none;
	}

	.header-txt {
		flex-basis: 100%;
		text-align: center;
	}

	.header-txt h1 {
		font-size: 70px;
	}


	main{
		display: block;
	}

	.card-list-products{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

	.footer {
		padding: 30px;
	}

	.footer-content {
		flex-direction: column;
		text-align: center;
	}
}